<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
  <h1><%= title %> </h1>

  <% if (lists.length) { %>
  <ul>
    <% lists.forEach(function(l) { %>
    <li>
      <a><%= l.list %> - <%= l.done ? 'Done' : 'Not Done' %></a>
      <form action="/lists/<%= l.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete</button>
      </form>
    </li>
    <% }); %>
    <% } else { %>
    <p>There are no To Do Yet!</p>
    <% }; %>
    <hr>
    <form action="/lists" method="POST" autocomplete="off">
      <input type="text" name="list">
      <button type="submit">Add Item</button>
    </form>
  </ul>
</body>

</html>