html {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
.delete-form button {
  color: red;
}

button {
  margin: 0rem .5rem;
}

#btn {
  color: black;
}
